{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="/static/index.css">
<style>
    .main-div {
        margin: auto;
        width: 80%;
    }
</style>
{% endblock %}

{% block content %}
<div class="container page-top">
    <h1>About</h1>
</div>
<br>
<div class="container">

    <p> Text that need to be written... </p>
    <br>
    <p>This website was written by Yuli Tshuva and Omer Makovski at
        <a href="https://yolo.math.biu.ac.il">YOLO lab</a>.</p>

</div>

{% endblock %}
