{% extends 'base.html' %}

{% block head %}
    <style>

        .hidden {
            display: none;
        }

        .glow-button {
            background-color: #3498db; /* Default background color */
            color: #ffffff; /* Default text color */
            padding: 15px 20px;
            font-size: 16px;
            border: none;
            cursor: pointer;
            outline: none;
            transition: background-color 0.3s, box-shadow 0.3s;
        }

        .glow-button:hover {
            background-color: #2980b9; /* Hover background color */
        }

        .glow-button.selected {
            background-color: plum; /* Selected background color */
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Add a box shadow when selected */
        }

        .styled-label {
            background-color: #6200ea; /* Deep purple background */
            color: #ffffff; /* White text color */
            padding: 8px 12px; /* Padding for the label */
            border-radius: 8px; /* Rounded corners */
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Subtle shadow */
            font-size: 1rem; /* Font size */
            font-weight: bold; /* Bold text */
            margin-bottom: 8px; /* Space between label and input */
            transition: background-color 0.3s ease; /* Smooth transition for hover effect */
        }
    </style>

{% endblock %}

{% block content %}
    <style>
    </style>
    <script>
        function glow1() {
            // Remove 'selected' class from all buttons
            let buttons = document.querySelectorAll('.glow-button');
            buttons.forEach(function (btn) {
                btn.classList.remove('selected');
            });

            // Add 'selected' class to the clicked button
            let selectedButton = document.getElementById('MCDA');
            selectedButton.classList.add('selected');

            // Update the value of the hidden input with the id/name of the selected button
            document.getElementById('cda_type').value = "MCDA";
        }

        function glow2() {
            // Remove 'selected' class from all buttons
            let buttons = document.querySelectorAll('.glow-button');
            buttons.forEach(function (btn) {
                btn.classList.remove('selected');
            });

            // Add 'selected' class to the clicked button
            let selectedButton = document.getElementById('DCDA');
            selectedButton.classList.add('selected');

            // Update the value of the hidden input with the id/name of the selected button
            document.getElementById('cda_type').value = "DCDA";
        }

        function toggleAdvanceResults() {
            const x = document.getElementById("advance_results");
            if (x.style.display === "none") {
                x.style.display = "block";
            } else {
                x.style.display = "none";
            }
        }

        function switchGrid() {
            const x = document.getElementById("input_row");
            const y = document.getElementById("results_row");
            if (x.hidden) {
                x.hidden = false;
                y.hidden = true;
            } else {
                x.hidden = true;
                y.hidden = false;
            }
        }
    </script>

    {% if results %}
        <br>
        <br>
        <div class="container col text-center">
            <h2>Results</h2>
            <br>
            <div class="row justify-content-center align-items-center">
                <div class="col-md-auto">
                    <a href="{{ trend_line }}" download class="center">
                        <img src="{{ trend_line }}" height="350" width="450">
                    </a>
                </div>
                <div class="col-md-auto">
                    <form action="/adjust_trend" method="post" enctype="multipart/form-data">
                        <input hidden id="trend_data" name="trend_data" value="{{ trend_data }}">
                        <br>
                        <label for="change_range">Adjust Range</label>
                        <br>
                        <br>
                        <input type="number" name="range" id="range" min="1" max="10" step="1"
                               value="{{ extended_by }}">
                        <br>
                        <br>
                        <button type="submit">Apply</button>
                    </form>
                </div>
            </div>
            <br>
            <button type="button" onclick="toggleAdvanceResults()">Advanced Results</button>
            <br>
            <div class="container center text-center" id="advance_results" style="display: none">
                {% for file in gaussians %}
                    <a href="{{ file }}" download class="center">
                        <img src="{{ file }}" height="300" width="400">
                    </a>
                {% endfor %}
            </div>
            <br>
            <br>
            <div class="text-center">
                <a href="{{ percentages_df }}" download="{{ percentages_df }}"
                   class="form-label text-bg-dark" style="font-size: 16px;">
                    Click here to download the percentages results</a>
            </div>
        </div>
    {% endif %}

    <h4 style="color: red; text-align: center;">{{ error }}</h4>
    <br>
    <div class="text-center">
        <h1>Twin EFW</h1>
    </div>
    <div class="container text-center">
        <br>
        <h4>Please fill the following details:</h4>
        <br>
        <br>
        <form action="/process_form" method="post" enctype="multipart/form-data">
            <input type="text" hidden id="cda_type" name="cda_type" value="None">
            <div class="row" id="first_row">
                <div class="col">
                    <label for="cda">MCDA <b style="color: blue; font-size: 20px;">or</b> DCDA</label>
                    <br>
                    <br>
                    <button class="glow-button" onclick="glow1()" id="MCDA" name="MCDA" type="button">MCDA</button>
                    <button class="glow-button" onclick="glow2()" id="DCDA" name="DCDA" type="button">DCDA</button>
                </div>
            </div>
            <br><br>
            <br>
            {% if results %}
                <script>
                    switchGrid();
                </script>
                <div class="container text-left">
                    <button type="button" onclick="switchGrid()" style="font-size: 1rem;">Switch Grid</button>
                </div>
                <br>
                <br>
                <br>
            {% endif %}
            <div class="row" id="input_row">
                <div class="col">
                    <label for="week">Week</label>
                    <br>
                    <br>
                    <input name="week1" id="week1" type="number" value="{{ data['week1'] }}" min="12" max="36" step="1"><br>
                    <input name="week2" id="week2" type="number" value="{{ data['week2'] }}" min="12" max="36" step="1"><br>
                    <input name="week3" id="week3" type="number" value="{{ data['week3'] }}" min="12" max="36" step="1"><br>
                    <input name="week4" id="week4" type="number" value="{{ data['week4'] }}" min="12" max="36" step="1"><br>
                    <input name="week5" id="week5" type="number" value="{{ data['week5'] }}" min="12" max="36" step="1"><br>
                    <input name="week6" id="week6" type="number" value="{{ data['week6'] }}" min="12" max="36" step="1"><br>
                    <input name="week7" id="week7" type="number" value="{{ data['week7'] }}" min="12" max="36" step="1"><br>
                    <input name="week8" id="week8" type="number" value="{{ data['week8'] }}" min="12" max="36" step="1"><br>
                    <input name="week9" id="week9" type="number" value="{{ data['week9'] }}" min="12" max="36" step="1"><br>
                    <input name="week10" id="week10" type="number" value="{{ data['week10'] }}" min="12" max="36"
                           step="1"><br>
                </div>
                <div class="col">
                    <label for="Day">Day</label>
                    <br>
                    <br>
                    <input name="Day1" id="Day1" type="number" value="{{ data['Day1'] }}" min="0" max="6" step="1"><br>
                    <input name="Day2" id="Day2" type="number" value="{{ data['Day2'] }}" min="0" max="6" step="1"><br>
                    <input name="Day3" id="Day3" type="number" value="{{ data['Day3'] }}" min="0" max="6" step="1"><br>
                    <input name="Day4" id="Day4" type="number" value="{{ data['Day4'] }}" min="0" max="6" step="1"><br>
                    <input name="Day5" id="Day5" type="number" value="{{ data['Day5'] }}" min="0" max="6" step="1"><br>
                    <input name="Day6" id="Day6" type="number" value="{{ data['Day6'] }}" min="0" max="6" step="1"><br>
                    <input name="Day7" id="Day7" type="number" value="{{ data['Day7'] }}" min="0" max="6" step="1"><br>
                    <input name="Day8" id="Day8" type="number" value="{{ data['Day8'] }}" min="0" max="6" step="1"><br>
                    <input name="Day9" id="Day9" type="number" value="{{ data['Day9'] }}" min="0" max="6" step="1"><br>
                    <input name="Day10" id="Day10" type="number" value="{{ data['Day10'] }}" min="0" max="6"
                           step="1"><br>
                </div>
                <div class="col">
                    <label>EFW1</label>
                    <br>
                    <br>
                    <input name="EFW1_1" id="EFW1_1" type="number" value="{{ data['EFW1_1'] }}" min="1" max="4000"
                           step="0.1"><br>
                    <input name="EFW1_2" id="EFW1_2" type="number" value="{{ data['EFW1_2'] }}" min="1" max="4000"
                           step="0.1"><br>
                    <input name="EFW1_3" id="EFW1_3" type="number" value="{{ data['EFW1_3'] }}" min="1" max="4000"
                           step="0.1"><br>
                    <input name="EFW1_4" id="EFW1_4" type="number" value="{{ data['EFW1_4'] }}" min="1" max="4000"
                           step="0.1"><br>
                    <input name="EFW1_5" id="EFW1_5" type="number" value="{{ data['EFW1_5'] }}" min="1" max="4000"
                           step="0.1"><br>
                    <input name="EFW1_6" id="EFW1_6" type="number" value="{{ data['EFW1_6'] }}" min="1" max="4000"
                           step="0.1"><br>
                    <input name="EFW1_7" id="EFW1_7" type="number" value="{{ data['EFW1_7'] }}" min="1" max="4000"
                           step="0.1"><br>
                    <input name="EFW1_8" id="EFW1_8" type="number" value="{{ data['EFW1_8'] }}" min="1" max="4000"
                           step="0.1"><br>
                    <input name="EFW1_9" id="EFW1_9" type="number" value="{{ data['EFW1_9'] }}" min="1" max="4000"
                           step="0.1"><br>
                    <input name="EFW1_10" id="EFW1_10" type="number" value="{{ data['EFW1_10'] }}" min="1" max="4000"
                           step="0.1"><br>
                </div>
                <div class="col">
                    <label for="EFW2">EFW2</label>
                    <br>
                    <br>
                    <input name="EFW2_1" id="EFW2_1" type="number" value="{{ data['EFW2_1'] }}" min="1" max="4000"
                           step="0.1"><br>
                    <input name="EFW2_2" id="EFW2_2" type="number" value="{{ data['EFW2_2'] }}" min="1" max="4000"
                           step="0.1"><br>
                    <input name="EFW2_3" id="EFW2_3" type="number" value="{{ data['EFW2_3'] }}" min="1" max="4000"
                           step="0.1"><br>
                    <input name="EFW2_4" id="EFW2_4" type="number" value="{{ data['EFW2_4'] }}" min="1" max="4000"
                           step="0.1"><br>
                    <input name="EFW2_5" id="EFW2_5" type="number" value="{{ data['EFW2_5'] }}" min="1" max="4000"
                           step="0.1"><br>
                    <input name="EFW2_6" id="EFW2_6" type="number" value="{{ data['EFW2_6'] }}" min="1" max="4000"
                           step="0.1"><br>
                    <input name="EFW2_7" id="EFW2_7" type="number" value="{{ data['EFW2_7'] }}" min="1" max="4000"
                           step="0.1"><br>
                    <input name="EFW2_8" id="EFW2_8" type="number" value="{{ data['EFW2_8'] }}" min="1" max="4000"
                           step="0.1"><br>
                    <input name="EFW2_9" id="EFW2_9" type="number" value="{{ data['EFW2_9'] }}" min="1" max="4000"
                           step="0.1"><br>
                    <input name="EFW2_10" id="EFW2_10" type="number" value="{{ data['EFW2_10'] }}" min="1" max="4000"
                           step="0.1"><br>
                </div>
            </div>
            <br>
            <div class="row" hidden id="results_row">
                <div class="col">
                    <label for="per1">Percentage1</label>
                    <br>
                    <br>
                    {#                    <label class="styled-label" id="per1_1">{{ data["week1"] }} ({{ data["Day1"] }}) - {{ percentage_dict['per1_1'] }}</label><br>#}
                    {#                    <label class="styled-label" id="per1_2">{{ data["week2"] }} ({{ data["Day2"] }}) - {{ percentage_dict['per1_2'] }}</label><br>#}
                    {#                    <label class="styled-label" id="per1_3">{{ data["week3"] }} ({{ data["Day3"] }}) - {{ percentage_dict['per1_3'] }}</label><br>#}
                    {#                    <label class="styled-label" id="per1_4">{{ data["week4"] }} ({{ data["Day4"] }}) - {{ percentage_dict['per1_4'] }}</label><br>#}
                    {#                    <label class="styled-label" id="per1_5">{{ data["week5"] }} ({{ data["Day5"] }}) - {{ percentage_dict['per1_5'] }}</label><br>#}
                    {#                    <label class="styled-label" id="per1_6">{{ data["week6"] }} ({{ data["Day6"] }}) - {{ percentage_dict['per1_6'] }}</label><br>#}
                    {#                    <label class="styled-label" id="per1_7">{{ data["week7"] }} ({{ data["Day7"] }}) - {{ percentage_dict['per1_7'] }}</label><br>#}
                    {#                    <label class="styled-label" id="per1_8">{{ data["week8"] }} ({{ data["Day8"] }}) - {{ percentage_dict['per1_8'] }}</label><br>#}
                    {#                    <label class="styled-label" id="per1_9">{{ data["week9"] }} ({{ data["Day9"] }}) - {{ percentage_dict['per1_9'] }}</label><br>#}
                    {#                    <label class="styled-label" id="per1_10">{{ data["week10"] }} ({{ data["Day10"] }}) - {{ percentage_dict['per1_10'] }}</label><br>#}
                    {% for i in range(1, 11) %}
                        {% if percentage_dict['per1_{}'.format(i)] %}
                            <label class="styled-label">{{ data["week{}".format(i)] }} ({{ data["Day{}".format(i)] }})
                                - {{ percentage_dict['per1_{}'.format(i)] }}</label><br>
                        {% endif %}
                    {% endfor %}
                </div>
                <div class="col">
                    <label for="per2">Percentage2</label>
                    <br>
                    <br>
                    {#                    <label class="styled-label" id="per2_1">{{ data["week1"] }} ({{ data["Day1"] }}) - {{ percentage_dict['per2_1'] }}</label><br>#}
                    {#                    <label class="styled-label" id="per2_2">{{ data["week2"] }} ({{ data["Day2"] }}) - {{ percentage_dict['per2_2'] }}</label><br>#}
                    {#                    <label class="styled-label" id="per2_3">{{ data["week3"] }} ({{ data["Day3"] }}) - {{ percentage_dict['per2_3'] }}</label><br>#}
                    {#                    <label class="styled-label" id="per2_4">{{ data["week4"] }} ({{ data["Day4"] }}) - {{ percentage_dict['per2_4'] }}</label><br>#}
                    {#                    <label class="styled-label" id="per2_5">{{ data["week5"] }} ({{ data["Day5"] }}) - {{ percentage_dict['per2_5'] }}</label><br>#}
                    {#                    <label class="styled-label" id="per2_6">{{ data["week6"] }} ({{ data["Day6"] }}) - {{ percentage_dict['per2_6'] }}</label><br>#}
                    {#                    <label class="styled-label" id="per2_7">{{ data["week7"] }} ({{ data["Day7"] }}) - {{ percentage_dict['per2_7'] }}</label><br>#}
                    {#                    <label class="styled-label" id="per2_8">{{ data["week8"] }} ({{ data["Day8"] }}) - {{ percentage_dict['per2_8'] }}</label><br>#}
                    {#                    <label class="styled-label" id="per2_9">{{ data["week9"] }} ({{ data["Day9"] }}) - {{ percentage_dict['per2_9'] }}</label><br>#}
                    {#                    <label class="styled-label" id="per2_10">{{ data["week10"] }} ({{ data["Day10"] }}) - {{ percentage_dict['per2_10'] }}</label><br>#}
                    {% for i in range(1, 11) %}
                        {% if percentage_dict['per2_{}'.format(i)] %}
                            <label class="styled-label">{{ data["week{}".format(i)] }} ({{ data["Day{}".format(i)] }})
                                - {{ percentage_dict['per2_{}'.format(i)] }}</label><br>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
            <br>
            <br>

            <button type="submit">Submit</button>
            <br>
            <br>
            <br>
        </form>
    </div>
{% endblock %}
