{% extends 'base.html' %}

{% block head %}
    <style>

        .glow-button {
            background-color: #3498db; /* Default background color */
            color: #ffffff; /* Default text color */
            padding: 15px 20px;
            font-size: 16px;
            border: none;
            cursor: pointer;
            outline: none;
            transition: background-color 0.3s, box-shadow 0.3s;
        }

        .glow-button:hover {
            background-color: #2980b9; /* Hover background color */
        }

        .glow-button.selected {
            background-color: plum; /* Selected background color */
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Add a box shadow when selected */
        }
    </style>

{% endblock %}

{% block content %}
    <style>
    </style>
    <script>
        function glow1() {
            // Remove 'selected' class from all buttons
            let buttons = document.querySelectorAll('.glow-button');
            buttons.forEach(function (btn) {
                btn.classList.remove('selected');
            });

            // Add 'selected' class to the clicked button
            let selectedButton = document.getElementById('MCDA');
            selectedButton.classList.add('selected');

            // Update the value of the hidden input with the id/name of the selected button
            document.getElementById('cda_type').value = "MCDA";
        }

        function glow2() {
            // Remove 'selected' class from all buttons
            let buttons = document.querySelectorAll('.glow-button');
            buttons.forEach(function (btn) {
                btn.classList.remove('selected');
            });

            // Add 'selected' class to the clicked button
            let selectedButton = document.getElementById('DCDA');
            selectedButton.classList.add('selected');

            // Update the value of the hidden input with the id/name of the selected button
            document.getElementById('cda_type').value = "DCDA";
        }
    </script>

    {% if result_files %}
        <br>
        <br>
        <div class="container row">
            {% for file in result_files %}
                <div class="col-md-4">
                    <a href="{{ file }}" download class="center">
                        <img src="{{ file }}" height="300" width="400">
                    </a>
                </div>
            {% endfor %}
        </div>
    {% endif %}

    <h4 style="color: red; text-align: center;">{{ error }}</h4>
    <br>
    <div class="text-center">
        <h1>Twin EFW</h1>
    </div>
    <div class="container text-center">
        <br>
        <h4>Please fill the following details:</h4>
        <br>
        <br>
        <form action="/process_form" method="post" enctype="multipart/form-data">
            <input type="text" hidden id="cda_type" name="cda_type" value="None">
            <div class="row" id="first_row">
                <div class="col">
                    <label for="cda">MCDA <b style="color: blue; font-size: 20px;">or</b> DCDA</label>
                    <br>
                    <br>
                    <button class="glow-button" onclick="glow1()" id="MCDA" name="MCDA" type="button">MCDA</button>
                    <button class="glow-button" onclick="glow2()" id="DCDA" name="DCDA" type="button">DCDA</button>
                </div>
                <div class="col">
                    <label for="week">Week</label>
                    <br>
                    <br>
                    <input name="week" id="week" type="number" placeholder="">
                    <br>
                    <br>
                    <b style="font-size: 20px; color: blue;">OR</b>
                    <br>
                    <br>
                    <input name="week1" id="week1" type="number" placeholder=""><br>
                    <input name="week2" id="week2" type="number" placeholder=""><br>
                    <input name="week3" id="week3" type="number" placeholder=""><br>
                    <input name="week4" id="week4" type="number" placeholder=""><br>
                    <input name="week5" id="week5" type="number" placeholder=""><br>
                    <input name="week6" id="week6" type="number" placeholder=""><br>
                    <input name="week7" id="week7" type="number" placeholder=""><br>
                    <input name="week8" id="week8" type="number" placeholder=""><br>
                    <input name="week9" id="week9" type="number" placeholder=""><br>
                    <input name="week10" id="week10" type="number" placeholder=""><br>
                </div>
                <div class="col">
                    <label for="weight">Weight</label>
                    <br>
                    <br>
                    <input name="weight" id="weight" type="number" placeholder="">
                    <br>
                    <br>
                    <b style="font-size: 20px; color: blue;">OR</b>
                    <br>
                    <br>
                    <input name="weight1" id="weight1" type="number" placeholder=""><br>
                    <input name="weight2" id="weight2" type="number" placeholder=""><br>
                    <input name="weight3" id="weight3" type="number" placeholder=""><br>
                    <input name="weight4" id="weight4" type="number" placeholder=""><br>
                    <input name="weight5" id="weight5" type="number" placeholder=""><br>
                    <input name="weight6" id="weight6" type="number" placeholder=""><br>
                    <input name="weight7" id="weight7" type="number" placeholder=""><br>
                    <input name="weight8" id="weight8" type="number" placeholder=""><br>
                    <input name="weight9" id="weight9" type="number" placeholder=""><br>
                    <input name="weight10" id="weight10" type="number" placeholder=""><br>
                </div>
            </div>
            <br>
            <br>

            <button type="submit">Submit</button>
            <br>
            <br>
            <br>
        </form>
    </div>
{% endblock %}
